* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background: #373D4A; 
}
